@using Stml.Infrastructure.Applications.Navigation

@model List<MenuItem>

@foreach (var menuItem in Model)
{
    if (menuItem.RequiredPermission.IsNullOrEmpty() || IsGranted(menuItem.RequiredPermission))
    {
        if (menuItem.IsLeaf)
        {
            <li class="nav-item">
                <a class="nav-link" href="~/@(menuItem.Url.IsNullOrEmpty()?"#":menuItem.Url)" target="@(!menuItem.Target.IsNullOrEmpty() ? menuItem.Target : "")">
                    <i class="nav-icon @menuItem.Icon">
                    </i> @menuItem.Name
                </a>
            </li>
        }
        else
        {
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon @menuItem.Icon"></i> @menuItem.Name
                </a>
                <ul class="nav-dropdown-items">
                    @await Html.PartialAsync("_SidebarNavRenderPartial", menuItem.Items)
                </ul>
            </li>
        }
    }
}
