@using Stml.Web.Models.Roles;
@using Stml.Infrastructure.Authorizations.Permissions;

@inject IPermissionManager<Permission> _permissionManager

@{
    var Permissions = _permissionManager.Permissions;
}

@model RoleCreateViewModel

<form id="roleCreateForm" asp-action="Create" asp-controller="Role"
      data-ajax="true"
      data-ajax-method="post"
      data-ajax-success="createRoleSuccess">
    <div class="modal-header">
        <h5 class="modal-title">新建角色</h5>
    </div>
    <div class="modal-body">
        <nav class="nav nav-tabs" role="tablist">
            <a class="nav-item nav-link active" data-toggle="tab" href="#create-role-details" role="tab">基本信息</a>
            <a class="nav-item nav-link" data-toggle="tab" href="#create-role-permissions" role="tab">角色权限</a>
        </nav>
        <div class="tab-content">
            <div class="tab-pane animated fade show active" id="create-role-details" role="tabpanel">
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input class="form-control" type="text" asp-for="Name" autocomplete="off" />
                                <label class="form-label">名称</label>
                                <span asp-validation-for="Name" class="help-block"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input class="form-control" type="text" asp-for="DisplayName" autocomplete="off" />
                                <label class="form-label">显示名称</label>
                                <span asp-validation-for="DisplayName" class="help-block"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane animated fade" id="create-role-permissions" role="tabpanel">
                @{
                    var i = 0;
                    foreach (var group in Permissions.Keys)
                    {
                        <div class="group-title">@group</div>
                        <div class="row clearfix">
                            @foreach (var permission in Permissions[group])
                            {
                                <div class="col-sm-6">
                                    <div class="checkbox">
                                        <input type="checkbox" asp-for="Permissions[i].Checked" />
                                        <label asp-for="Permissions[i].Checked">@permission.DisplayName</label>
                                        <input type="hidden" asp-for="Permissions[i].Group" value="@permission.Group" />
                                        <input type="hidden" asp-for="Permissions[i].Name" value="@permission.Name" />
                                        <input type="hidden" asp-for="Permissions[i].DisplayName" value="@permission.DisplayName" />
                                    </div>
                                </div>
                                i++;
                            }
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
        <button type="submit" class="btn btn-primary btn-sm">提交</button>
    </div>
</form>
